@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 33% 98%;
    --foreground: 5 5% 0%;
    --card: 5 50% 90%;
    --card-foreground: 5 5% 10%;
    --popover: 5 100% 95%;
    --popover-foreground: 5 100% 0%;
    --primary: 5 92.7% 37.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 5 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: -33 30% 85%;
    --muted-foreground: 5 5% 35%;
    --accent: -33 30% 80%;
    --accent-foreground: 5 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 5 5% 90%;
    --red-hard: 5 5% 90%;
    --border: 5 30% 50%;
    --input: 5 30% 18%;
    --ring: 5 92.7% 37.6%;
    --radius: 0.5rem;
    --sidebar-background: 44 55% 80%;
    --background2: 44 53% 87%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 5 65% 53%;
    --sidebar-accent-foreground: 5 5% 90%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  /* .dark {
    --background: 5 50% 5%;
    --foreground: 5 5% 90%;
    --card: 5 50% 0%;
    --card-foreground: 5 5% 90%;
    --popover: 5 50% 5%;
    --popover-foreground: 5 5% 90%;
    --primary: 5 92.7% 37.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 5 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: -33 30% 15%;
    --muted-foreground: 5 5% 60%;
    --accent: -33 30% 15%;
    --accent-foreground: 5 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 5 5% 90%;
    --red-hard: 5 5% 90%;
    --border: 5 30% 18%;
    --input: 5 30% 18%;
    --ring: 5 92.7% 37.6%;
    --radius: 0.5rem;
    --sidebar-background: 44 55% 80%;
    --background2: 44 53% 87%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  } */
}

body {
  @apply bg-background text-foreground;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background-color: transparent;
}
